<a href="https://colab.research.google.com/github/AlexsonT/Prog_DS2_Growdev/blob/main/final_prog_ds2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Bibliotecas

In [265]:
import pandas as pd
import numpy as np

Leitura dos arquivos

In [266]:
pokemon_db = pd.read_csv('pokemon.csv')

pokemon_tp_1 = pd.read_csv('pokemon_tipos_1.csv')

pokemon_tp_2 = pd.read_csv('pokemon_tipos_2.csv')

1) Verifique se há a necessidade de realizar algum tratamento na base
de dados, caso julgue necessário realize o tratamento e comente no
código o porquê de estar realizando determinada técnica de
limpeza.

In [267]:
# Verificando os primeiros dados do database para uma análise geral.
pokemon_db.head()

,#,pokemon_nome,pokemon_tipo_1_id,pokemon_tipo_2_id,pokemon_total,pokemon_hp,pokemon_attack,pokemon_defense,pokemon_ataque_especial,pokemon_defesa_especial,pokemon_velocidade,pokemon_geracao,pokemon_lendario
0,1,Bulbasaur,10,14.0,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,10,14.0,405,60,62,63,80,80,60,1,False
2,3,Venusaur,10,14.0,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,10,14.0,625,80,100,123,122,120,80,1,False
4,4,Charmander,7,NaN,309,39,52,43,60,50,65,1,False

In [268]:
# Analisando a tipagem dos dados.
# Observa-se que a coluna 'pokemon_tipo_2_id' é do tipo float, sendo que na tabela correspondente são valores inteiros.	
pokemon_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        800 non-null    int64
 1   pokemon_nome             800 non-null    object
 2   pokemon_tipo_1_id        800 non-null    int64
 3   pokemon_tipo_2_id        414 non-null    float64
 4   pokemon_total            800 non-null    int64
 5   pokemon_hp               800 non-null    int64
 6   pokemon_attack           800 non-null    int64
 7   pokemon_defense          800 non-null    int64
 8   pokemon_ataque_especial  800 non-null    int64
 9   pokemon_defesa_especial  800 non-null    int64
 10  pokemon_velocidade       800 non-null    int64
 11  pokemon_geracao          800 non-null    int64
 12  pokemon_lendario         800 non-null    bool
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 75.9+ KB

In [269]:
# Verificando métricas gerais do database. Observa-se que a coluna 'pokemon_tipo_2_id' tem dados faltantes, porém não é um indicador obrigatório para todos os pekemons.
pokemon_db.describe()

,#,pokemon_tipo_1_id,pokemon_tipo_2_id,pokemon_total,pokemon_hp,pokemon_attack,pokemon_defense,pokemon_ataque_especial,pokemon_defesa_especial,pokemon_velocidade,pokemon_geracao
count,800.000000,800.000000,414.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,10.467500,9.792271,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,5.580356,4.422629,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,6.000000,7.000000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,11.000000,9.000000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,15.000000,14.000000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,18.000000,18.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [270]:
# Verificando se há registros duplicados (não há).
duplicados = pokemon_db.duplicated().sum()
print(duplicados)

0

In [271]:
# Verificando os registros faltantes.
faltantes = pokemon_db.isnull().sum()
print(faltantes)

#                            0
pokemon_nome                 0
pokemon_tipo_1_id            0
pokemon_tipo_2_id          386
pokemon_total                0
pokemon_hp                   0
pokemon_attack               0
pokemon_defense              0
pokemon_ataque_especial      0
pokemon_defesa_especial      0
pokemon_velocidade           0
pokemon_geracao              0
pokemon_lendario             0
dtype: int64

In [272]:
# alterando os valores faltantes para 0.
pokemon_db.fillna(0, inplace=True)

# alterando o tipo da coluna 'pokemon_tipo_2_id' para 'int', levando em consideração que este, na outras tabelas, é um int.
pokemon_db['pokemon_tipo_2_id'] = pokemon_db['pokemon_tipo_2_id'].astype('int')
pokemon_db.head()

,#,pokemon_nome,pokemon_tipo_1_id,pokemon_tipo_2_id,pokemon_total,pokemon_hp,pokemon_attack,pokemon_defense,pokemon_ataque_especial,pokemon_defesa_especial,pokemon_velocidade,pokemon_geracao,pokemon_lendario
0,1,Bulbasaur,10,14,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,10,14,405,60,62,63,80,80,60,1,False
2,3,Venusaur,10,14,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,10,14,625,80,100,123,122,120,80,1,False
4,4,Charmander,7,0,309,39,52,43,60,50,65,1,False

In [309]:
# unindo os dataframes e realizando a ordenação das colunas.
uniao_datframes = pokemon_db.merge(pokemon_tp_1)
# uniao_geral = uniao_com_tipo1.merge(pokemon_tp_2)

# uniao_geral  = uniao_geral[['#', 'pokemon_nome', 'pokemon_tipo_1_id', 'pokemon_tipo_1_nome', 'pokemon_tipo_2_id', 'pokemon_tipo_2_nome', 'pokemon_total', 'pokemon_hp', 
                            # 'pokemon_attack', 'pokemon_defense', 'pokemon_ataque_especial','pokemon_defesa_especial', 'pokemon_velocidade', 'pokemon_geracao', 'pokemon_lendario']]

uniao_geral.head()
uniao_geral.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 414 entries, 0 to 413
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        414 non-null    int64
 1   pokemon_nome             414 non-null    object
 2   pokemon_tipo_1_id        414 non-null    int64
 3   pokemon_tipo_2_id        414 non-null    int64
 4   pokemon_total            414 non-null    int64
 5   pokemon_hp               414 non-null    int64
 6   pokemon_attack           414 non-null    int64
 7   pokemon_defense          414 non-null    int64
 8   pokemon_ataque_especial  414 non-null    int64
 9   pokemon_defesa_especial  414 non-null    int64
 10  pokemon_velocidade       414 non-null    int64
 11  pokemon_geracao          414 non-null    int64
 12  pokemon_lendario         414 non-null    bool
 13  pokemon_tipo_1_nome      414 non-null    object
 14  pokemon_tipo_2_nome      414 non-null    object
dtypes: bool(1), int64(11), object(3)
memory usage: 48.9+ KB

2) Procure os pokémons do tipo Grass que possuem mais de 100 de
ataque e são da geração 3.

In [353]:
for i in uniao_datframes.itertuples(index=False):
  if i.pokemon_tipo_1_nome == 'Grass' and i.pokemon_attack > 100:
    if i.pokemon_geracao == 3:
      display([i.pokemon_nome, i.pokemon_attack, i.pokemon_geracao])

['SceptileMega Sceptile', 110, 3]

['Breloom', 130, 3]

['Cacturne', 115, 3]

3) Faça um comparativo entre os tipos de pokémon e as gerações,
evidencie em cada tipo quais gerações possuem mais de 50
pokémons. Dica: use pivoteamento.

In [379]:
tipos_e_geracoes = pd.pivot_table(
    uniao_datframes, 
    index=['pokemon_tipo_1_nome'],
    columns=['pokemon_geracao'], 
    aggfunc= {'pokemon_geracao': np.sum},
    fill_value = 0
    )

maior_50 = tipos_e_geracoes[tipos_e_geracoes['pokemon_geracao']>50]
maior_50 = maior_50[maior_50.notnull().any(axis=1)].fillna('-')

display(maior_50)

                    pokemon_geracao
pokemon_geracao                   1  2     3     4     5     6
pokemon_tipo_1_nome
Bug                               -  -     -     -  90.0     -
Dark                              -  -     -     -  65.0     -
Fairy                             -  -     -     -     -  54.0
Ghost                             -  -     -     -     -  60.0
Grass                             -  -     -  60.0  75.0     -
Normal                            -  -  54.0  72.0  95.0     -
Psychic                           -  -     -     -  70.0     -
Rock                              -  -     -     -     -  54.0
Water                             -  -  81.0  52.0  90.0     -

4) Faça um comparativo entre as gerações e a coluna de pokémons
lendários para verificar quantos pokémons existem com velocidade
acima de 85. Dica: use pivoteamento.

In [384]:
geracao_e_lendarios = uniao_datframes[uniao_datframes['pokemon_velocidade']>85]

geracao_e_lendarios = pd.pivot_table(
    geracao_e_lendarios, 
    index=['pokemon_lendario'],
    columns=['pokemon_geracao'],
    aggfunc={'pokemon_geracao': len}
)

display(geracao_e_lendarios)

                 pokemon_geracao
pokemon_geracao                1   2   3   4   5   6
pokemon_lendario
False                         49  14  25  32  37  14
True                           5   4  15  11  15   4

5) Plote um gráfico mostrando o valor somado da coluna
pokemon_total por tipo de pokemon, contando apenas os
pokemons que possuem defesa menor que 50.

In [ ]:
ex04 = pd.pivot_table(
    uniao_geral, 
    # values=['pokemon_geracao'], 
    index=['pokemon_tipo_1_nome'],
    columns=['pokemon_total'], 
    aggfunc={'pokemon_total': np.sum}

)

display(ex04)

6) Faça uma comparação entre pokemons do tipo fire e do tipo grass
evidenciando qual tem mais defesa no total e qual tem mais ataque
no total.

In [381]:
# df_data_pokemon = pd.merge(pokemon_db, pokemon_tp_1, on='pokemon_tipo_1_id', how='inner')
# df_data_pokemon = pd.merge(df_data_pokemon, pokemon_tp_2, on='pokemon_tipo_2_id', how='inner')

df_fire_grass = uniao_datframes.query('pokemon_tipo_1_nome == "Grass" | pokemon_tipo_1_nome == "Fire"')

df_fire_grass = df_fire_grass[['pokemon_tipo_1_nome', 'pokemon_attack',	'pokemon_defense']]

df_fire_grass = pd.pivot_table(    
  df_fire_grass, 
  # values=['pokemon_attack', 'pokemon_defense'], 
  # index=['pokemon_attack', 'pokemon_defense'],
  columns=['pokemon_tipo_1_nome'], 
  aggfunc={'pokemon_attack': np.sum, 'pokemon_defense':np.sum}
)

display(df_fire_grass)

pokemon_tipo_1_nome  Fire  Grass
pokemon_attack       4408   5125
pokemon_defense      3524   4956

#### 7) Um treinador pokémon quer escolher um pokémon para a batalha.
Faça uma análise para indicar o melhor pokemon possível para o
embate.

##### a) O adversário possui um pokémon do tipo Grass, e que esse
tipo possui desvantagem sobre pokémons do tipo Bug, Fire,
Flying, Ice e Poison.

##### b) O pokémon deve ser no máximo da geração 3

##### c) O ataque do pokémon deve ser menor ou igual a 100.

##### d) A defesa deve ser maior que 30.

##### e) O pokémon pode ter um tipo secundário que não influencia na
regra a.

##### f) O pokémon não pode ser lendário.